/* @group General */
a {outline: none; text-decoration: none;}
.button:focus, .button:hover {color:#FFF;}
.left {float: left;}
.right {float: right;}
.center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.hidden {display: none;}
.odd {background-color: #FFF;}
.even {background-color: #EFF5FF;}
.ui-input-set input[type="radio"], .ui-input-set input.radio, .ui-input-set input[type="checkbox"], .ui-input-set input.checkbox {position: absolute;}
.ui-button-cancel {border: 1px solid #cd0a0a; background: #e14f1c; color: #ffffff;}
.ui-button-cancel:hover {color: #8F2500; background: #EF754A;}
body {background: #000000 url(images/main/background.jpg) repeat-x center top;}
/* @end */

/* @group Structure */
#site-description {text-align: center; margin: 1em 0;}
#account a {color: yellow;}
#account img {vertical-align: middle;}
#navigation {padding: 1em 0;}
.section {padding: 1em;}
.section h2.label {float: left;}
#sidebar {-moz-border-radius: 0.5em; -webkit-border-radius: 0.5em; border-radius: 0.5em;}
#record-filters {float: right;}
#record-filters span {font-weight: bold; margin: 0 0.5em;}
#footer {margin-top: 0.5em;}
/* @end */

/* @group Menu - Main Level */
.menu {margin: 0; padding: 0.2em 0; line-height: 100%; background: #FFF; filter: alpha(opacity=90); -webkit-border-radius: 2em; -moz-border-radius: 2em; border-radius: 2em; -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4); -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4); box-shadow: 0 1px 3px rgba(0,0,0, .4);}
.cssgradients .menu {background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.10, rgb(214,214,214)), color-stop(0.88, rgb(255,255,255))); background-image: -moz-linear-gradient(center bottom, rgb(214,214,214) 10%, rgb(255,255,255) 88%);}

.menu li {margin: 0 0 0 1em; padding: 0.2em 0; float: left; position: relative; list-style: none;}
.menu a {font-weight: bold; color: #444; text-decoration: none; display: block; padding: 0.6em 1em; margin: 0; -webkit-border-radius: 1em; -moz-border-radius: 1em; border-radius: 1em;}
.menu a:hover {background: #000; color: #fff;}
.menu .active a, .menu li:hover > a {background-color: #000; color: #FFF; border-top: solid 1px #f8f8f8;}
/* @end */

/* @group Menu - Sub Levels */
.menu ul li:hover a, .menu li:hover li a {background: none; border: none; color: #000; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
.menu ul a:hover {background: #000 !important; color: #FFF !important; -webkit-border-radius: 0; -moz-border-radius: 0; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);}
/* @end */

/* @group Menu - Dropdown */
.menu li:hover > ul {display: block;}
/* @end */

/* @group Menu - Level 2 */
.menu ul {display: none; margin: 0; padding: 0; width: 185px; position: absolute; top: 32px; left: 0; background: #ddd; border: solid 1px #b4b4b4; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3); -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3); box-shadow: 0 1px 3px rgba(0,0,0, .3); z-index: 1;}
.menu ul li {float: none; margin: 0; padding: 0;}
.menu ul a {font-weight: normal; text-shadow: 0 1px 0 #fff;}
/* @end */

/* @group Menu - Level 3+ */
.menu ul ul {left: 181px; top: -3px;}
/* @end */

/* @group Menu - Rounded Corners */
.menu ul li:first-child > a {-webkit-border-top-left-radius: 9px; -moz-border-radius-topleft: 9px; -webkit-border-top-right-radius: 9px; -moz-border-radius-topright: 9px;}
.menu ul li:last-child > a {-webkit-border-bottom-left-radius: 9px; -moz-border-radius-bottomleft: 9px; -webkit-border-bottom-right-radius: 9px; -moz-border-radius-bottomright: 9px;}
/* @end */

/* @group Menu - Clearfix */
.menu:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
/* @end */

/* @group Sidebar Menu */
ul.sidebar-menu {list-style: none;}
ul.sidebar-menu li {color: #FFF; background: #354D8F; font-weight: bold; margin: 0 0.5em; padding: 0 0.5em;}
ul.sidebar-menu a {color: #FFF; text-decoration: none;}
ul.sidebar-menu li a {display: block; padding: 4px 8px;}
ul.sidebar-menu li.hover, ul.sidebar-menu li:hover, ul.sidebar-menu li.active {background: #778ABF; color: #000; position: relative;}
ul.sidebar-menu li.hover a {color: #000;}
/* @end */

/* @group Block UI - AJAX Processing */
#ajax {display: none;}
#ajax img {float: left;}
#ajax p {float: left; padding: 0.5em 0 0.5em 1em;}
/* @end */

/* @group Block UI - Growl */
.growlUI {background: url(images/jgrowl/default.png) no-repeat 16px 16px;}
.growlUI h1, div.growlUI h2 {color: white; padding: 5px 5px 5px 75px; text-align: left;}
/* @end */

/* @group Rails Error Handling */
.errorExplanation {color: #8A1F11; border: 0.2em solid #FBC2C4; background-color: #FBE3E4; padding: 0.8em; margin-bottom: 1em;}
.errorExplanation h2, .errorExplanation a {color: #8A1F11;}
.errorExplanation p {display: none;}
.field_error {color: #8A1F11;}
.field_error input, .field_error select, .field_error textarea {border-color: #8A1F11;}
/* @end */

/* @group Breadcrumbs */
#breadcrumbs {height: 1.5em; margin: 0; padding: 0;}
#breadcrumbs li {list-style: none; margin: 0; padding: 0;}
#breadcrumbs a {display: block; float: left; background: #939393; color: #FFF; margin: 0 0.5em 0 0; padding: 0 1.5em 0 1em; -webkit-border-top-left-radius: 0px; -webkit-border-top-right-radius: 500px; -webkit-border-bottom-right-radius: 500px; -webkit-border-bottom-left-radius: 0px; -moz-border-radius-topleft: 0px; -moz-border-radius-topright: 500px; -moz-border-radius-bottomright: 500px; -moz-border-radius-bottomleft: 0px; border-top-left-radius: 0px; border-top-right-radius: 500px; border-bottom-right-radius: 500px; border-bottom-left-radius: 0px;}							
#breadcrumbs span {display: block; float: left; background: #D2D2D2; margin: 0 1em 0 0; padding: 0 1em; -webkit-border-top-left-radius: 0px; -webkit-border-top-right-radius: 500px; -webkit-border-bottom-right-radius: 500px; -webkit-border-bottom-left-radius: 0px; -moz-border-radius-topleft: 0px; -moz-border-radius-topright: 500px; -moz-border-radius-bottomright: 500px; -moz-border-radius-bottomleft: 0px; border-top-left-radius: 0px; border-top-right-radius: 500px; border-bottom-right-radius: 500px; border-bottom-left-radius: 0px;}
#breadcrumbs a:link, #breadcrumbs a:visited { color:#FFF; text-decoration:none; }	
#breadcrumbs a:hover, #breadcrumbs a:focus {color: #FFF;}
/* @end */

/* @group jQuery TOOLS */
div.tooltip-default {background: #3d3c41 no-repeat scroll 0 0; font-size: 1em; padding: 0.5em; display: none; color: #FFF; z-index: 10; border: 0.2em #FFF solid; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em; -webkit-box-shadow: 5px 5px 10px #595959; -moz-box-shadow: 5px 5px 10px #595959; box-shadow: 5px 5px 10px #595959;}
div.tooltip-default h1, div.tooltip-default h2, div.tooltip-default h3, div.tooltip-default h4, div.tooltip-default h5, div.tooltip-default h6 {color: #FFF; margin: 0 0 0.5em 0;}
div.tooltip-default p {margin: 0.5em 0; width: 20em;}
div.tooltip-default a:hover {color: yellow;}
/* @end */

/* @group Position */
.position {width: 6.7em;}
.position .move, .position .top, .position .higher, .position .lower, .position .bottom {float: left;}
/* @end */

/* @group MarkItUp - General */
.markItUp * {margin: 0px; padding: 0px; outline: none;}
.markItUp a:link,
.markItUp a:visited {color: #000; text-decoration: none;}
.markItUp {margin: 5px 0 5px 0;}
.markItUpContainer {font: 11px Verdana, Arial, Helvetica, sans-serif;}
.markItUpEditor {font: 12px 'Courier New', Courier, monospace; padding: 5px; clear: both; display: block; line-height: 18px; overflow: auto;}
.markItUpPreviewFrame {overflow: auto; background-color: #FFF; width: 99.9%; height: 300px; margin: 5px 0;}
.markItUpFooter {width: 100%;}
.markItUpResizeHandle {overflow: hidden; width: 22px; height: 5px; margin-left: auto; margin-right: auto; background-image: url(images/markitup/handle.png); cursor: n-resize;}
/* @end */

/* @group MarkItUp - Buttons (first row) */
.markItUpHeader ul li {list-style: none; float: left; position: relative;}
.markItUpHeader ul li:hover > ul {display: block;}
.markItUpHeader ul .markItUpDropMenu {background: transparent url(images/markitup/menu.png) no-repeat 115% 50%; margin-right: 5px;}
.markItUpHeader ul .markItUpDropMenu li {margin-right: 0px;}
/* @end */

/* @group MarkItUp - Buttons (second row) */
.markItUpHeader ul ul {display: none; position: absolute; top: 18px; left: 0px; background: #FFF; border: 1px solid #000;}
.markItUpHeader ul ul li {float: none; border-bottom: 1px solid #000;}
.markItUpHeader ul ul .markItUpDropMenu {background: #FFF url(images/markitup/submenu.png) no-repeat 100% 50%;}
.markItUpHeader ul .markItUpSeparator {margin: 0 10px; width: 1px; height: 16px; overflow: hidden; background-color: #CCC;}
.markItUpHeader ul ul .markItUpSeparator {width: auto; height: 1px; margin: 0px;}
/* @end */

/* @group MarkItUp - Buttons (third row) */
.markItUpHeader ul ul ul {position: absolute; top: -1px; left: 150px;}
.markItUpHeader ul ul ul li {float: none;}
.markItUpHeader ul a {display: block; width: 16px; height: 16px; text-indent: -10000px; background-repeat: no-repeat; padding: 3px; margin: 0px;}
.markItUpHeader ul ul a {display: block; padding-left: 0px; text-indent: 0; width: 120px; padding: 5px 5px 5px 25px; background-position: 2px 50%;}
.markItUpHeader ul ul a:hover {color: #FFF; background-color: #000;}
/* @end */

/* @group MarkItUp - Textile */
.markItUp .markItUpButton1 a {background-image: url(images/markitup/h1.png);}
.markItUp .markItUpButton2 a {background-image: url(images/markitup/h2.png);}
.markItUp .markItUpButton3 a {background-image: url(images/markitup/h3.png);}
.markItUp .markItUpButton4 a {background-image: url(images/markitup/h4.png);}
.markItUp .markItUpButton5 a {background-image: url(images/markitup/h5.png);}
.markItUp .markItUpButton6 a {background-image: url(images/markitup/h6.png);}
.markItUp .markItUpButton7 a {background-image: url(images/markitup/paragraph.png);}
.markItUp .markItUpButton8 a {background-image: url(images/markitup/bold.png);}
.markItUp .markItUpButton9 a {background-image: url(images/markitup/italic.png);}
.markItUp .markItUpButton10 a {background-image: url(images/markitup/stroke.png);}
.markItUp .markItUpButton11 a {background-image: url(images/markitup/list-bullet.png);}
.markItUp .markItUpButton12 a {background-image: url(images/markitup/list-numeric.png);}
.markItUp .markItUpButton13 a {background-image: url(images/markitup/picture.png);}
.markItUp .markItUpButton14 a {background-image: url(images/markitup/link.png);}
.markItUp .markItUpButton15 a {background-image: url(images/markitup/quotes.png);}
.markItUp .markItUpButton16 a {background-image: url(images/markitup/code.png);}
.markItUp .preview a {background-image: url(images/markitup/preview.png);}
/* @end */

/* @group Pagination */
div.pagination {float: right; margin: 0.5em 0;}
.pagination a, .pagination span {margin: 0 0.1em; padding: 0.1em 0.3em; display: block; float: left;}
.pagination span.current {border: 0.1em solid black; font-weight: bold;}
.pagination a {text-decoration: none; border-width: 0.1em; border-style: solid;}
.pagination a:hover {color: #FFF; background: #1D70A5;}
/* @end */
