/* @group Structure */
#page {margin: 0.5em auto;}
#header {color: #FFF;}
#label {text-align: center; font-size: 3em;}
#description {text-align: center;}
#account {position: absolute; margin: -4em 0 0 75em;}
#navigation {padding: 1em 0;}
#content {background: #FFF; min-height: 20em; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em;}
.section {padding: 1em;}
#sidebar {min-height: 17em; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em;}
#footer {color: #FFF;}
#footer a {color: #f02b47;}
/* @end */
