/* @group General */
a {outline: none; text-decoration: none;}
.left {float: left;}
.right {float: right;}
.center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.hidden {display: none;}
/* @end */

/* @group Rails Error Handling */
.errorExplanation {color: #8A1F11; border: 0.2em solid #FBC2C4; background-color: #FBE3E4; padding: 0.8em; margin-bottom: 1em;}
.errorExplanation h2, .errorExplanation a {color: #8A1F11;}
.errorExplanation p {display: none;}
.field_error {color: #8A1F11;}
.field_error input, .field_error select, .field_error textarea {border-color: #8A1F11;}
/* @end */
