/* @group General */
a {outline: none;}
.left {float: left;}
.right {float: right;}
.center {text-align: center;}
/* @end */

/* @group Rails Error Handling */
.field-error {
	color: #8A1F11;
	input, select, textarea {border-color: #8A1F11;}
}
/* @end */
