/* Admin */

/* @group General */
body {background: #F0F0F0; background-image: none;}
a {color: #4476ea;}
thead th {background: #3d3d3d; color: #f3f3f3;}
thead th:first-child {-webkit-border-top-left-radius: 0.5em; -webkit-border-top-right-radius: 0; -webkit-border-bottom-right-radius: 0; -webkit-border-bottom-left-radius: 0.5em; -moz-border-radius-topleft: 0.5em; -moz-border-radius-topright: 0; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0.5em; border-top-left-radius: 0.5em; border-top-right-radius: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0.5em;}
thead th:last-child {-webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 0.5em; -webkit-border-bottom-right-radius: 0.5em; -webkit-border-bottom-left-radius: 0; -moz-border-radius-topleft: 0; -moz-border-radius-topright: 0.5em; -moz-border-radius-bottomright: 0.5em; -moz-border-radius-bottomleft: 0; border-top-left-radius: 0; border-top-right-radius: 0.5em; border-bottom-right-radius: 0.5em; border-bottom-left-radius: 0;}

#post-index-switch {margin-bottom: 1em;}
#grade-form-switch {margin-bottom: 1em;}
#build-grade {margin-top: 1em;}
.sub-label {color: #6F6F6F;}
/* @end */

/* @group Structure */
#page {margin-top: 0;}
#header {margin: 0 0 0.5em 0;}
#label {float: left; margin: 0.3em 0 0 0.5em;}
#account {margin: 0.6em 2em 0 0; float: right;}
#account a {color: #666;}
#navigation {padding: 0.5em 0;}
#body {background: #FFF; border: 0.1em solid #000; -moz-border-radius: 0.5em; -webkit-border-radius: 0.5em; border-radius: 0.5em;}
#sidebar {min-height: 30em; background: #e3e3e3;}
/* @end */

/* @group Next Actions */
li.next-action {margin-bottom: 0.8em;}
.next-action span {color: #FFF; padding: 0.3em; background: #ff241a; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em;}
.next-action a {color: #cccec3; font-weight: bold;}
/* @end */

/* @group Divisions */
.ui-divisions .ui-divisions-header {cursor: pointer; position: relative; margin-top: 1px; zoom: 1;}
.ui-divisions .ui-divisions-li-fix {display: inline;}
.ui-divisions .ui-divisions-header-active {border-bottom: 0 !important;}
.ui-divisions .ui-divisions-header a {display: block; font-size: 1em; padding: .5em .5em .5em .7em;}
.ui-divisions-icons .ui-divisions-header a {padding-left: 2.2em;}
.ui-divisions .ui-divisions-header .ui-icon {position: absolute; left: .5em; top: 50%; margin-top: -8px;}
.ui-divisions .ui-divisions-content {padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; zoom: 1;}
/* @end */

/* @group Posts */
.post, .comment {background: #FFF; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em; -webkit-box-shadow: 0.2em 0.2em 0.2em #666; -moz-box-shadow: 0.2em 0.2em 0.2em #909090; box-shadow: 0.2em 0.2em 0.2em #666;}
/* @end */

/* @group Styles */
table#style-overview {border: 0.1em solid #000;}
table#style-overview td {border: 0.1em solid #000;}
#style-overview .label {display: block; font-weight: bold;}
#style-overview select {align: center;}
/* @end */

/* @group Steps */
ul.steps {margin: 1em 4em 0 0; padding: 0 1em; list-style: none; float: right;}
li.step {float: left; margin: 0 0.5em; padding: 0 0.5em;}
/* @end */

/* @group Orders */
tr.total {background: #CFCFCF;}
tr.total td {font-weight: bold;}
/* @end */
